<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Person List</h1>

    <a href="/create">
        <button class="btn-create, btn" id="btn-create">Create new Person</button>
    </a>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="person: ${persons}">
                <td th:text="${person.id}"/>
                <td th:text="${person.firstName}"/>
                <td th:text="${person.lastName}"/>
                <td>
                    <a th:href="@{'/viewOne/'+${person.id}}">
                        <button class="btn-viewOne" id="btn-viewOne">View a person</button>
                    </a>
                    <a th:href="@{'/deleteOne/'+${person.id}}">
                        <button class="btn-deleteOne" id="btn-deleteOne">Delete a person</button>
                    </a>
                    <a th:href="@{'/editOne/'+${person.id}}">
                        <button class="btn-editOne" id="btn-editOne">Edit a person</button>
                    </a>
                </td>
            </tr>
        </tbody>


    </table>


</body>
</html>